openapi: 3.0.0
info:
  title: Auth API Service
  version: 0.0.0
tags:
  - name: Auth
  - name: User Auth
paths:
  /api/auth/login:
    post:
      operationId: auth_login
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginOutput'
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginInput'
  /api/auth/user:
    get:
      operationId: auth_user
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      tags:
        - Auth
      security:
        - BearerAuth: []
  /api/users/emails:
    get:
      operationId: userAuth_emails
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      tags:
        - User Auth
  /api/users/forgot-password:
    post:
      operationId: userAuth_forgotPassword
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusOutput'
      tags:
        - User Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailInput'
  /api/users/register:
    get:
      operationId: userAuth_register
      parameters: []
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusOutput'
      tags:
        - User Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailInput'
components:
  schemas:
    EmailInput:
      type: object
      required:
        - email
        - map_slug
      properties:
        email:
          type: string
        map_slug:
          type: string
    LoginInput:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
        password:
          type: string
    LoginOutput:
      type: object
      required:
        - access_token
        - expires_in
        - role
        - token_type
      properties:
        access_token:
          type: string
        expires_in:
          type: integer
          format: int32
        role:
          type: string
        token_type:
          type: string
    StatusOutput:
      type: object
      required:
        - status
      properties:
        status:
          type: string
    User:
      type: object
      required:
        - avatar
        - avatar_url
        - created_at
        - deleted_at
        - email
        - email_verified_at
        - fbid
        - id
        - is_admin
        - name
        - role
        - uid
        - updated_at
        - user_uid
      properties:
        avatar:
          type: string
        avatar_url:
          type: string
        created_at:
          type: string
        deleted_at:
          type: string
          nullable: true
        email:
          type: string
        email_verified_at:
          type: string
          nullable: true
        fbid:
          type: string
          nullable: true
        id:
          type: integer
          format: int32
        is_admin:
          type: integer
          format: int32
        name:
          type: string
        role:
          type: string
        uid:
          type: string
          nullable: true
        updated_at:
          type: string
        user_uid:
          type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: Bearer
servers:
  - url: https://engine.geomark.yopaz.dev
    description: DevServer
    variables: {}
